# Env variables
ENV=production
API_URL=https://example.com

# EXPO
EXPO_SLUG=react-native-template
EXPO_NAME="React Native Template"
EXPO_PROJECT_ID=18adc0d0-eb1d-11e9-8009-d524ed5cc4a7
EXPO_IOS_BUNDLE_IDENTIFIER=com.watarumaeda.react-native-template
EXPO_ANDROID_PACKAGE=com.watarumaeda.react_native_boilerplate